---

---

<section class="flex flex-col items-center px-10 text-center">
    <p class="font-bold mb-5 text-xl uppercase">Sin niños</p>
    <p class="mb-10">
        Un evento para adultos está en camino. ¡Así que prepárense para una
        noche llena de diversión!<br />Dejemos a los niños en casa esta vez.
    </p>

    <!--Mensaje de despedida -->
    <p class="font-semibold mb-1 uppercase">
        Esperamos contar con tu presencia
    </p>
    <p class="font-bold font-parisienne italic text-4xl">¡Muchas gracias!</p>
</section>